---
title: Posts
description: 全部文章
author: sendevia
color: "#90bcff"
impression: "/assets/images/110062943_p0.webp"
---

<div class="p-posts">
  <div id="p-posts-timeline">
    {% assign posts_by_year = site.posts | group_by_exp: "post", "post.date | date: '%Y'" %}
    {% for year in posts_by_year %}
      <h1 class="p-posts-timeline-by-year">{{ year.name }} 年的全部文章</h1>
      <div class="p-posts-timeline-level1">
        {% assign posts_by_month = year.items | group_by_exp: "post", "post.date | date: '%-m'" %}
        {% for month in posts_by_month %}
          <h3 class="p-posts-timeline-by-month">到 {{ month.name }} 月了...</h3>
          <div class="p-posts-timeline-level2">
            {% assign posts_by_day = month.items | group_by_exp: "post", "post.date | date: '%-d'" %}
            {% for day in posts_by_day %}
              {% for post in day.items %}
                <div class="p-posts-timeline-post-card">
                  <a href="{{ post.url }}">
                    <div class="card" spec="clear">
                      <div class="card-impression">
                        {% if post.impression and post.impression != "" %}
                          {% assign photograph = post.impression %}
                        {% elsif site.impression %}
                          {% assign photograph = site.impression %}
                        {% else %}
                          {% assign photograph = false %}
                        {% endif %}
                        {% if photograph != false %}
                          <img src="{{ photograph }}" alt="{{ post.title }}的封面" />
                        {% endif %}
                      </div>
                      <div class="card-supporting">
                        <h3>{{ post.title }}</h3>
                        {% if post.description %}
                          <p>{{ post.description }}</p>
                        {% endif %}
                        <p id="card-supporting--weaken">发布于{{ year.name }}年{{ month.name }}月{{ day.name }}日</p>
                      </div>
                    </div>
                  </a>
                </div>
              {% endfor %}
            {% endfor %}
          </div>
        {% endfor %}
      </div>
    {% endfor %}
  </div>
</div>