<footer class="JTM-S-Footer">
  <div id="JTM-S-Footer-Descriptions">
    <h3>{{ page.title | default: site.title }}</h3>
    <p>来自 {{ site.title }}</p>
    <p>使用主题：
      <a href="https://github.com/Sendevia/jekyll-theme-m3" target="_blank">jekyll-theme-m3</a>
      <a
        href="https://github.com/Sendevia/sendevia.page.jekyll/releases/tag/{{site.version}}"
        target="_blank"
        rel="noopener noreferrer">
        ❤️ 版本：{{ site.version }}</a>
    </p>
  </div>
  <div id="JTM-S-Footer-Socialmedia">
    {% for link in site.data.socialmedia %}
      <a
        href="{{ link[1] }}"
        target="_blank"
        rel="noopener noreferrer">
        <button class="JTM-C-CommonButton" spec="text">{{ link[0] }}</button>
      </a>
    {% endfor %}
  </div>
</footer>