<div class="JTM-C-Navigation" spec="rail">
  <img
    id="JTM-C-Navigation-Hero"
    src="/assets/images/avatar.webp"
    alt="logo" />
  {% if page.toc %}
    <div id="JTM-C-Navigation-FAB">
      <button
        class="JTM-C-FAB"
        spec="surface"
        size="normal">menu</button>
    </div>
  {% endif %}
  <div id="JTM-C-Navigation-Destinations">
    <a href="/">
      <div id="JTM-C-Navigation-SegmentInactive">
        <div id="JTM-C-Navigation-DestinationAccent">
          <div id="JTM-C-Navigation-SegmentIcon">
            <!-- https://fonts.google.com/icons?selected=Material+Icons&icon.set=Material+Symbols -->
            <span>home</span>
          </div>
        </div>
        <p id="JTM-C-Navigation-DestinationLabel">首页</p>
      </div>
    </a>

    <a href="/posts/">
      <div id="JTM-C-Navigation-SegmentInactive">
        <div id="JTM-C-Navigation-DestinationAccent">
          <div id="JTM-C-Navigation-SegmentIcon">
            <span>article</span>
          </div>
        </div>
        <p id="JTM-C-Navigation-DestinationLabel">文章</p>
      </div>
    </a>

    {% for s in site.pages %}
      {% if s.navigation and s.published == true %}
        <a href="{{ s.url | remove: '.html' }}">
          <div id="JTM-C-Navigation-SegmentInactive">
            <div id="JTM-C-Navigation-DestinationAccent">
              <div id="JTM-C-Navigation-SegmentIcon">
                <span>{{ s.segment_icon }}</span>
              </div>
            </div>
            <p id="JTM-C-Navigation-DestinationLabel">{{ s.segment_title }}</p>
          </div>
        </a>
      {% endif %}
    {% endfor %}
  </div>
</div>
<div class="JTM-C-AppBar">
  {% if page.toc %}
    <button class="JTM-C-IconButton" id="JTM-C-AppBar-MenuIcon">menu</button>
  {% else %}
    <span></span>
  {% endif %}
  <div id="JTM-C-AppBar-DynamicTitle">
    <span>{{ site.title }}</span>
    <span>{{ page.title }}</span>
  </div>
  <button class="JTM-C-IconButton" id="JTM-C-AppBar-InfoIcon">info</button>
</div>
<dialog
  class="JTM-C-Dialog"
  id="JTM-C-Dialog-ModalTips"
  icon>
  <div class="JTM-C-Dialog-ContentLayout">
    <span class="JTM-C-Dialog-LeaderIcon">help</span>

    <h3 class="JTM-C-Dialog-Headline">{{ page.title }}</h3>
    {% if page.description and page.description != "" %}
      <p class="JTM-C-Dialog-SupportingText">{{ page.description }}</p>
    {% endif %}

    <div class="JTM-C-Dialog-SupportingList">
      {% if page.date %}
        <div class="JTM-C-Dialog-TipItems">
          <button
            class="JTM-C-IconButton"
            spec="standard"
            disabled>calendar_month</button>
          <p>发布于：{{ page.date | date: "%Y年%-m月%-d日" }}</p>
        </div>
      {% endif %}
      {% assign page_words = page.content | number_of_words: "auto" %} {% assign read_estimate = page_words | divided_by: 120 %}
      <div class="JTM-C-Dialog-TipItems">
        <button
          class="JTM-C-IconButton"
          spec="standard"
          disabled>schedule</button>
        <p>估计阅读时间：{% if read_estimate > 0 %}
            {{ read_estimate }}
          {% else %}
            少于 1
          {% endif %}分钟</p>
      </div>
      {% if page.author %}
        <div class="JTM-C-Dialog-TipItems">
          <button
            class="JTM-C-IconButton"
            spec="standard"
            disabled>person</button>
          <p>作者：{{ page.author }}</p>
        </div>
      {% endif %}
      {% if page.categories.size > 0 %}
        <div class="JTM-C-Dialog-TipItems">
          <button
            class="JTM-C-IconButton"
            spec="standard"
            disabled>category</button>
          <p>分类：{{ page.categories }}</p>
        </div>
      {% endif %}
      {% if page.color and page.color != "" %}
        <div class="JTM-C-Dialog-TipItems">
          <button
            class="JTM-C-IconButton"
            spec="standard"
            disabled>palette</button>
          <p>主题颜色：{{ page.color }}</p>
        </div>
      {% endif %}
    </div>
  </div>
  <div class="JTM-C-Dialog-Buttons">
    <button
      class="JTM-C-CommonButton"
      spec="text"
      id="dialog-close">关闭</button>
  </div>
</dialog>